.tools {
    padding-top: 120px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, minmax(270px auto));
        grid-auto-rows: 270px;
        gap: 13px;
        margin-top: 60px;
    }
    &__item {
        border: 1px solid #000;
        padding: 30px 30px 25px 30px;
        &-title {
            margin-top: 20px;
            color: #000;
            font-size: 14px;
            font-weight: 700;
        }
        &-body {
            margin-top: 15px;
            color: #000;
            font-size: 12px;
            font-weight: 500;
        }
    }
    &__wrapper2 {
        padding-top: 120px;
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2, 70px);
        grid-auto-rows: 70px;
        column-gap: 45px;
        row-gap: 30px;
    }
    &-tool__item {
        display: grid;
        grid-template: 21px 14px/200px 35px;
        justify-content: space-between;
        align-content: space-between;
        &-title {
            position: relative;
            @include before_circle;
            padding: 5px 0 0 13px;
            
        }
        &-pros {
            color: #000;
            font-size: 14px;
            font-weight: 500;
        }
        &-scale {
            width: 350px;
            height: 14px;
            border-radius: 4px;
            background-color: #E8E4DE;
            span {
                display: block;
                border-radius: 4px;
                height: 14px;
                background-color: $main-color;
            }
        }
    }
}